<h1>
  Past Outfits
</h1>

<hr>

<article>
  <ul>
    <% @list_of_outfits.each do |an_outfit| %>
      <li>
        <a href="/outfits/<%= an_outfit.id %>">
          <%= an_outfit.name.presence || "Outfit ##{an_outfit.id}" %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
